<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
<p>Hello!!!</p><br>
<a href="/first/goodBye">Say goodBye!</a><br>
<a href="/first/hello?name=Arsen&surname=Zaseev">Hello, Creator!</a><br>
<p th:text="${message}"></p>
<a href="/exit">Exit.</a>
</body>
</html>